<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <title>NYT Article Scraper</title>
</head>

<body>
    <nav class="container">
        <div class="nav-wrapper">
            <ul class="right">
                <li>
                    <button class="btn-large" id="scrape">Scrape Articles</button>
                </li>
            </ul>
            <ul class="left">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/saved">Saved Articles</a>
                </li>
            </ul>
        </div>
    </nav>
    {{{ body }}}
    <script src="/app.js"></script>
</body>

</html>